/*
	GENERAL / MISC STYLES
*/
body {
	margin: 0px;
}

article {
	min-width: 700px; 
	max-width: 1200px; 
	margin: 20px 40px 20px 40px;
	font-family: Georgia;
}

section {
	margin-bottom: 40px;
}

a {
	text-decoration: none;
	color: #728DA5;
}

a:hover {
	text-decoration: underline;
}

.color-strip {
	background-color: #AA4C39;
	height: 10px;
	margin: 0px;
}

.grey {
	background-color: #C4C4CC;
}


/* 
	HEADER SECTION STYLES
*/
#heading {
	float: center;
	text-align: center;
	margin: 0px;
}

#main-info {
	float: left;
	margin: 20px 0px 20px 100px;
	min-width: 400px;
}

#contact-info {
	float: right;	
	margin: 20px 100px 20px 0px;
}

#name {
	color: #728DA5;
	font-size: 2em;
	font-weight: bold;
	margin: 0px;
}

div#main-info span{
	display: inline-block;
	margin-right: 20px;
	font-size: 1.1em;
}

div#contact-info span {
	color: #848587;
}

span.bad:hover {
	font-weight: bold;
}

span.good:hover {
	font-weight: bold;
	color: #728DA5;
}

.objective {
	padding: 0px 40px 10px 40px;
}


/* 
	MIDDLE SECTION STYLES
*/
p.ml {
	font-weight:bold;
}

p.sl {
	font-style: italic;
	clear: both;
	color: #728DA5;
}

span.l {
	float: left; 
	text-align: left;
}

span.r {
	float: right; 
	text-align: right;
	margin-left: 20px;
}

ul.bullets {
	clear: both;
	margin-bottom: 30px;
}

ul.end {
	clear: both;
	margin-bottom: 0px;
}


.sub-title {
	background-color: #AA4C39;
	font-weight:bold;	
}

.sub-title h3 {
	padding-left: 15px;
}

hr {
	clear: both;
}

#header {
	text-align: right;
}

#details {
	text-align: left;
}


/*
	FOOTER SECTION STYLES
*/
footer {
	padding-top: 1px;
	padding-bottom: 5px;
	height: 40px;
	text-align: center;
}